.instructions-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
    margin: 0 auto;

  }
  
  h1 {
    color: #3498db;
  }
  
  ol {
    text-align: left;
  }
  
  li {
    margin-bottom: 10px;
  }
  