<div class="container">
    <div class=" instructions-container">
        <h1>Instrucciones de Instalación</h1>
        <ol>
            <li>Descargar ambos repositorios.</li>
            <li>Tener Angular 16 instalado.</li>
            <li>Tener .NET Core versión 8 instalado.</li>
            <li>Instalar las dependencias del proyecto Frontend con <code>npm install</code>.</li>
            <li>Correr la aplicación Angular con <code>npm start</code>.</li>
            <li>Compilar la aplicación de .NET Core 8 (Mac o Windows): usar el comando
                <code>dotnet build (ruta de la app)</code>.
            </li>
            <li>Correr la aplicación de .NET Core 8 (Mac o Windows): usar el comando
                <code>dotnet run (ruta de la app)</code>.
            </li>
            <li>Nota: También puedes usar Visual Studio para correr la aplicación.</li>
            <li>Listo :)</li>
        </ol>
    </div>

</div>