<div>
    <h2>Clientes</h2>

    <ul>
        <li *ngFor="let cliente of clientes" (click)="seleccionarCliente(cliente)">
            {{ cliente.nombre }}
            <span>
                <i class="fas fa-pencil-alt" style="width: 20px;"></i>
            </span>
        </li>
    </ul>

    <div *ngIf="clienteSeleccionado">
        <h3>Detalles del Cliente</h3>
        <p>Nombre: {{ clienteSeleccionado.nombre }}</p>
        <p>Dirección: {{ clienteSeleccionado.direccion }}</p>
        <p>Teléfono: {{ clienteSeleccionado.apellidos }}</p>
        <button (click)="eliminarCliente(clienteSeleccionado.clienteId)">Eliminar</button>
    </div>
    <button *ngIf="mostrarFormularioAgregar" (click)="mostrarFormularioAgregar = false">Minimizar Form</button>
    <button *ngIf="!mostrarFormularioAgregar" (click)="mostrarFormularioAgregar = true">Agregar Cliente</button>

    <form *ngIf="mostrarFormularioAgregar" (submit)="agregarCliente()">
        <label for="nombre">Nombre:</label>
        <input id="nombre" [(ngModel)]="nuevoCliente.nombre" [ngModelOptions]="{standalone: true}" required>

        <label for="direccion">Dirección:</label>
        <input id="direccion" [(ngModel)]="nuevoCliente.direccion" [ngModelOptions]="{standalone: true}" required>

        <label for="apellidos">Teléfono:</label>
        <input id="apellidos" [(ngModel)]="nuevoCliente.apellidos" [ngModelOptions]="{standalone: true}" required>

        <button type="submit">Agregar</button>
    </form>

    <h3>Actualizar Cliente</h3>
    <form *ngIf="clienteSeleccionado" (submit)="actualizarCliente()">
        <label for="nombre">Nombre:</label>
        <input id="nombre" [(ngModel)]="clienteSeleccionado.nombre" [ngModelOptions]="{standalone: true}" required>

        <label for="direccion">Dirección:</label>
        <input id="direccion" [(ngModel)]="clienteSeleccionado.direccion" [ngModelOptions]="{standalone: true}"
            required>

        <label for="apellidos">Teléfono:</label>
        <input id="apellidos" [(ngModel)]="clienteSeleccionado.apellidos" [ngModelOptions]="{standalone: true}"
            required>
        <button type="submit">Actualizar</button>
    </form>
</div>