<nav class="navbar">
    <div class="logo">Mi Empresa</div>
    <ul class="nav-list">
        <li>
            <i class="fa fa-shopping-cart" style="color: #fff;"></i>
            {{ numeroArticulosEnCarrito }}
        </li>
        <li><a routerLink="/">Inicio</a></li>
        <li *ngIf="authService.isAuthenticated()">
            <a routerLink="/compras">Compras</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
            <a routerLink="/clientes">Clientes</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
            <a routerLink="/tiendas">Tiendas</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
            <a routerLink="/articulos">Articulos</a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
            <span>{{ authService.getAuthenticatedUser() }}</span>
            <button (click)="logout()">Cerrar Sesión</button>
        </li>
        <li *ngIf="!authService.isAuthenticated()"><a routerLink="/login">Iniciar Sesión</a></li>
    </ul>
</nav>