<div>
    <h2>Compras del cliente:</h2>
    <ul>
        <li>
            {{ cliente.nombre }}
        </li>
    </ul>
    <div *ngIf="cliente">
        <h2>Artículos Disponibles</h2>
        <ul>
            <li *ngFor="let articulo of articulos" (click)="seleccionarArticulo(articulo)">
                {{ articulo.descripcion }}
            </li>
        </ul>

        <div *ngIf="articuloSeleccionado">
            <h3>Añadir al Carrito</h3>
            <p>Artículo: {{ articuloSeleccionado.descripcion }}</p>
            <label for="cantidad">Cantidad:</label>
            <input id="cantidad" [(ngModel)]="cantidadSeleccionada" [ngModelOptions]="{standalone: true}" required>
            <button (click)="agregarAlCarrito()">Añadir al Carrito</button>
        </div>
        <h3>Carrito de {{ cliente.nombre }}</h3>
        <ul>
            <li *ngFor="let item of cliente.carrito">
                {{ item.articulo.descripcion }} - Cantidad: {{ item.cantidad }}
            </li>
        </ul>
    </div>
</div>