<div>
  <h2>Tiendas</h2>

  <ul>
    <li *ngFor="let tienda of tiendas" (click)="seleccionarTienda(tienda)">
      {{ tienda.sucursal }}
    </li>
  </ul>

  <div *ngIf="tiendaSeleccionada">
    <h3>Detalles de la Tienda</h3>
    <p>Sucursal: {{ tiendaSeleccionada.sucursal }}</p>
    <p>Dirección: {{ tiendaSeleccionada.direccion }}</p>
    <h4>Artículos en la Tienda</h4>
    <ul>
      <li *ngFor="let articulo of tiendaSeleccionada.articulos">
        {{ articulo.descripcion }} - Stock: {{ articulo.stock }}
      </li>
    </ul>
    <button (click)="eliminarTienda(tiendaSeleccionada.tiendaId)">Eliminar</button>
    <button *ngIf="mostrarFormularioAgregarArticulos" (click)="mostrarFormularioAgregarArticulos = false">Minimizar Form</button>
    <button *ngIf="!mostrarFormularioAgregarArticulos" (click)="mostrarFormularioAgregarArticulos = true">Agregar Artículo</button>
  
    <form *ngIf="mostrarFormularioAgregarArticulos" (submit)="agregarArticuloATienda()">
      <label for="articulo">Seleccionar Artículo:</label>
      <select id="articulo" [(ngModel)]="nuevoArticuloSeleccionado" [ngModelOptions]="{standalone: true}" required>
        <option *ngFor="let articulo of articulosDisponibles" [ngValue]="articulo">{{ articulo.descripcion }}</option>
      </select>
  
      <label for="cantidad">Cantidad:</label>
      <input id="cantidad" [(ngModel)]="nuevaCantidad" [ngModelOptions]="{standalone: true}" required>
  
      <button type="submit">Agregar</button>
    </form>
  </div>

  <button *ngIf="mostrarFormularioAgregar" (click)="mostrarFormularioAgregar = false">Minimizar Form</button>
  <button *ngIf="!mostrarFormularioAgregar" (click)="mostrarFormularioAgregar = true">Agregar Tienda</button>

  <form *ngIf="mostrarFormularioAgregar" (submit)="agregarTienda()">
    <label for="sucursal">Sucursal:</label>
    <input id="sucursal" [(ngModel)]="nuevaTienda.sucursal" [ngModelOptions]="{standalone: true}" required>

    <label for="direccion">Dirección:</label>
    <input id="direccion" [(ngModel)]="nuevaTienda.direccion" [ngModelOptions]="{standalone: true}" required>

    <button type="submit">Agregar</button>
  </form>
  <h3>Actualizar Tienda</h3>
  <form *ngIf="tiendaSeleccionada" (submit)="actualizarTienda()">
    <label for="sucursal">Sucursal:</label>
    <input id="sucursal" [(ngModel)]="tiendaSeleccionada.sucursal" [ngModelOptions]="{standalone: true}" disabled>

    <label for="direccion">Dirección:</label>
    <input id="direccion" [(ngModel)]="tiendaSeleccionada.direccion" [ngModelOptions]="{standalone: true}" required>

    <button type="submit">Actualizar</button>
  </form>
</div>