<div class="container mt-4">
  <h2>Empleados</h2>

  <div class="mb-3">
    <h4>Agregar Nuevo Empleado</h4>
    <form (ngSubmit)="addEmployee()" #employeeForm="ngForm">
      <div class="mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" id="name" name="name" [(ngModel)]="employee.name" required>
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput type="text" id="lastName" name="lastName" [(ngModel)]="employee.lastName" required>
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Posición</mat-label>
          <input matInput type="text" id="position" name="position" [(ngModel)]="employee.position" required>
        </mat-form-field>
      </div>  
      <button mat-raised-button color="primary" type="submit">Agregar Empleado</button>
    </form>
  </div>
  

  <div class="mt-4">
    <h4>Listado de Empleados</h4>
    <table mat-table [dataSource]="employees" class="mat-elevation-z8">
      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let emp">{{ emp.employeeId }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let emp">
          <div [ngSwitch]="emp.isEdit">
            <div *ngSwitchCase="false">{{ emp.name }}</div>
            <div *ngSwitchCase="true">
              <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="emp.name" />
              </mat-form-field>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let emp">
          <div [ngSwitch]="emp.isEdit">
            <div *ngSwitchCase="false">{{ emp.lastName }}</div>
            <div *ngSwitchCase="true">
              <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="emp.lastName" />
              </mat-form-field>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Posición</th>
        <td mat-cell *matCellDef="let emp">
          <div [ngSwitch]="emp.isEdit">
            <div *ngSwitchCase="false">{{ emp.position }}</div>
            <div *ngSwitchCase="true">
              <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="emp.position" />
              </mat-form-field>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let emp">
          <div [ngSwitch]="emp.isEdit">
            <div *ngSwitchCase="false">
              <button mat-icon-button color="warn" (click)="updateEmployee(emp)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteEmployee(emp.employeeId)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="detailEmployee(emp.employeeId)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
            <div *ngSwitchCase="true">
              <button mat-icon-button color="warn" (click)="doneEditing(emp)">
                <mat-icon>done</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
