<div>
    <h2>Artículos</h2>

    <ul>
        <li *ngFor="let articulo of articulos" (click)="seleccionarArticulo(articulo)">
            {{ articulo.descripcion }}
        </li>
    </ul>

    <div *ngIf="articuloSeleccionado">
        <h3>Detalles del Artículo</h3>
        <p>Código: {{ articuloSeleccionado.codigo }}</p>
        <p>Descripción: {{ articuloSeleccionado.descripcion }}</p>
        <p>Precio: {{ articuloSeleccionado.precio | currency }}</p>
        <p>Imagen: {{ articuloSeleccionado.imagen }}</p>
        <p>Stock: {{ articuloSeleccionado.stock }}</p>
        <button (click)="eliminarArticulo(articuloSeleccionado.codigo)">Eliminar</button>
    </div>

    <button *ngIf="mostrarFormularioAgregar" (click)="mostrarFormularioAgregar = false">Minimizar Form</button>
    <button *ngIf="!mostrarFormularioAgregar" (click)="mostrarFormularioAgregar = true">Agregar Cliente</button>
    <form *ngIf="mostrarFormularioAgregar" (submit)="agregarArticulo()">
        <label for="codigo">Código:</label>
        <input id="codigo" type="number" [(ngModel)]="nuevoArticulo.codigo" [ngModelOptions]="{standalone: true}"
            required>

        <label for="descripcion">Descripción:</label>
        <input id="descripcion" [(ngModel)]="nuevoArticulo.descripcion" [ngModelOptions]="{standalone: true}" required>

        <label for="precio">Precio:</label>
        <input id="precio" type="number" [(ngModel)]="nuevoArticulo.precio" [ngModelOptions]="{standalone: true}"
            required>

        <label for="imagen">Imagen:</label>
        <input id="imagen" [(ngModel)]="nuevoArticulo.imagen" [ngModelOptions]="{standalone: true}" required>

        <label for="stock">Stock:</label>
        <input id="stock" type="number" [(ngModel)]="nuevoArticulo.stock" [ngModelOptions]="{standalone: true}"
            required>

        <button type="submit">Agregar</button>
    </form>

    <h3>Actualizar Artículo</h3>
    <form *ngIf="articuloSeleccionado" (submit)="actualizarArticulo()">
        <label for="codigo">Código:</label>
        <input id="codigo" [(ngModel)]="articuloSeleccionado.codigo" [ngModelOptions]="{standalone: true}" disabled>

        <label for="descripcion">Descripción:</label>
        <input id="descripcion" [(ngModel)]="articuloSeleccionado.descripcion" [ngModelOptions]="{standalone: true}"
            required>

        <label for="precio">Precio:</label>
        <input id="precio" [(ngModel)]="articuloSeleccionado.precio" [ngModelOptions]="{standalone: true}" required>

        <label for="imagen">Imagen:</label>
        <input id="imagen" [(ngModel)]="articuloSeleccionado.imagen" [ngModelOptions]="{standalone: true}" required>

        <label for="stock">Stock:</label>
        <input id="stock" [(ngModel)]="articuloSeleccionado.stock" [ngModelOptions]="{standalone: true}" required>

        <button type="submit">Actualizar</button>
    </form>
</div>